version: "3.9"

services:
  web:
    image: lennyprocolibri/django-web
#    volumes:
#      - sqlite_data:/app/db   # persistent SQLite DB
#      - static_volume:/app/static
#      - media_volume:/app/media
    depends_on:
      - redis

  redis:
    image: redis:alpine
    container_name: redis_server
    ports:
      - "6379:6379"

  nginx:
    image: nginx:latest
    container_name: nginx_server
    ports:
      - "80:80"
      - "443:443"
#    volumes:
#      - ./nginx:/etc/nginx/conf.d
#      - static_volume:/app/static
#      - media_volume:/app/media
    depends_on:
      - web

#volumes:
#  sqlite_data:
#  static_volume:
#  media_volume:
