body {
    margin:30px;
    padding:20px;
    font-family: sans-serif;
    background-color: #e8f4f8;

}

a {
    color: darkblue;
    text-decoration: none;
}

#content-post
{
    float: left;
    width: 39%;
    padding: 0 0 0 40px;
    font-family: cursive;
}

#nav-sidebar
{
    float: left;
    width: 40%;
    background: bisque;
    height: auto;
    padding: 20px 0 0 40px;
}

div.comment {
    background-color: bisque;
    margin:10px;
    padding:10px;
    font-family: sans-serif;
}

