{% extends 'base.html' %}
{% load static %}
{% block head %}<link rel="stylesheet" href="{% static '/blog/css/style.css' %}">{% endblock %}
{% block title %} comment.html {% endblock %}

{% block content %}
    <a href="{% url 'blog:get_post_details' year=post.published.year month=post.published.month day=post.published.day post=post.slug %}">
        <h4>back to post</h4>
    </a>

    {% if comment %}
        <p>You Comment Successfully Submitted</p>
    {% else %}
        <p>{% include "blog/post/includes/comment_form.html" %}</p>
    {% endif %}

{% endblock %}


