{% extends 'blog/base.html' %}

{% block title %} list.html {% endblock %}

{% block content %}
    <div style="text-align: left; font-size: 1.5em;">
        <h2>Welcome!</h2>

        {% for post in posts %}

            {#      <a href="{% url "blog:get_post_details" %}">  #}
            <a href="{{ post.get_absolute_url }}">
                <h4>{{ post.title }}</h4>
            </a>
            <p>by {{ post.poem_by }}</p>
            {#            <p>{{ post.content|safe }}</p>#}

        {% endfor %}
        <div style="margin: 70px 50px;">
            {% include "paginator.html" with page=posts %}
        </div>
    </div>

{% endblock %}
